<div id="article">
<% @topics.each do |topic| %>

    <span id="byline"><%= topic.name %> - <%= topic.created_at.strftime("%A, %b %d") %></span>
    <h1><%= link_to topic.title, topic %></h1>
    <hr />
    <% if topic.attachment.file? %>
        <%= image_tag topic.attachment.url, :class => "picture" %>
    <% end %>
    <%= simple_format(truncate(topic.body, :length => 1000)) %>
    <%= link_to "Read More", topic, :class => "read_more" %>
    <hr />
    <ul>
      <% if current_user && current_user.admin %>
          <li><%= link_to 'Edit', edit_topic_path(topic) %></li>
          <li><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
    </ul>

<% end %>
</div>
<%= will_paginate @topics, :param_name => 'main_articles_page', :page_links => false %>