<div id="tables_box">
<table>
  <tr><td><h1>Links</h1></td></tr>
  <tr><td><%= link_to 'Send Me a Quote', root_path %></td></tr>
  <tr><td><%= link_to 'Register To Comment' , root_path %></td></tr>
  <tr><td><%= link_to 'Give Me a Job', root_path %></td></tr>
  <tr><td><%= link_to 'Link To', root_path %></td></tr>
  <tr><td><%= link_to 'View Archives', root_path %></td></tr>
  <tr><td><%= link_to 'Mail Me' , root_path %></td></tr>
  <tr><td><%= link_to 'Request Web Design?', root_path %></td></tr>
  <tr><td><%= link_to 'About Me', root_path %></td></tr>

</table>

    <table >

    <form name="contact" onsubmit="return validateForm();" action="mailto:daniel.reynolds7a@gmail.com?subject=Customer_Inquiry" enctype="text/plain"  method="post" >
      <tr><td><h1>Quick Mail</h1></td></tr>
      <tr><td><label>Your name:</label></td></tr>
      <tr><td><input type="text" name="First Name" id="fname" /></td></tr>
      <tr><td><label>E-mail: </label></td></tr>
      <tr><td><input type="text" name="E-mail" id="email"/></td></tr>
      <tr><td><label>Message: </label> <textarea name="Message" id="Message" rows="9" cols="16"></textarea></td></tr>
      <tr><td><%= image_submit_tag("submit.gif")%></td></tr>

    </form>

    </table>




</div>
<div id="special_box">
<div class="specials">
  <h2>Meal of the Week</h2>

  <p>
    <span class="title">Mmmm!:</span><%= image_tag 'meal.png', :class => "fl" %>Coconut Red Kidney Bean Curry<br /><br />
    <%= link_to image_tag("link.gif"), "http://www.yummly.com/recipe/Coconut-Rice-Martha-Stewart-194311?columns=4&position=1%2F36" %></p>
</div>
<div class="specials">
  <h2>Tune of the Week</h2>
  <p><%= image_tag 'tune.png', :class => "fl" %>
  <span class="title">Artist:</span> Ben Nichols<br />
  <span class="title">Song:</span> Shelter<br /><br /><%= link_to image_tag("link.gif"), "http://www.youtube.com/watch?v=7CLbfmM9lnk", :target => "_blank" %></p>
</div>
<div class="specials">
  <h2>Image of the Week</h2>
  <p><%= image_tag 'joke.png', :class => "fl"  %>
    <span class="title">Trolltunga Norway</span>Sitting On The Edge of A Cliff.
    <br /><br /> <%=  link_to image_tag("link.gif"), "http://onebigphoto.com/sitting-on-the-edge-of-trolltunga-norway/?utm_source=newsletter&utm_medium=email&utm_campaign=newletter%2Banalytics", :target => "_blank" %></p>
</div>
  <div class="specials">
    <h2>Today's Headlines</h2>
    <p><span id="line">Today a woman shot another who was woman</span></p>
  </div>
  <div id="youtube">
    <h2>You<%= image_tag 'tube.png' %>  Of The Week</h2>
    <iframe width="490" height="250"
            src="//www.youtube.com/embed/ZgqsaDnsEq8" allowfullscreen>
    </iframe>
  </div>



</div>
      <div id="articles">
       <%= render 'topics/articles' %>

    </div>
<div class="flcl"></div>
<div id="tagbar2"><span class="KG">Article Search:</span><%= form_tag topics_path, :method => 'get', :remote => true do %>
      <%= text_field_tag :search_query, params[:search_query] %>
      <%= image_submit_tag("login.gif")%>
  <% end %></div>
<div id="likes">

  <h1>Likes</h1>
  <hr />
  <%= render 'likes/likes' %>

  <span class="title"><%= link_to 'View All Likes', root_path %></span>

</div>
<div id="backlog_box">

  <h1>Backlog</h1>

  <hr />

  <div id="backlog">
  <%= render 'topics/list' %>

  </div>



  </div>


<script>
    $(document).ready(function() {
        $('#articles .pagination a').attr('data-remote', 'true');
        $('#backlog .pagination a').attr('data-remote', 'true');
    });</script>









