<%= form_for(@like) do |f| %>


  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>
